
/* custom image caption for shots */
.image-caption {
    bottom: 1.6em;
    margin-bottom: -1.6em;
}

.hint {
    margin-bottom: -0.5em;
    bottom: 0.5em;
}

tiny,
.tiny {
  font-size: 60%;
  font-weight: 400;
}

.itemlist {
    min-height: 5em;
    max-height: 12em;
    overflow-y: scroll;
}

.check label {
    margin-bottom: 0;
}
.check label input {
    padding: 1em;
    margin-right: 0.5em;
}

/* https://bootstrapcreative.com/pattern/bootstrap-opacity-classes-custom-css/ */
.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
  opacity:0!important;
  transition: opacity .25s ease-in-out!important;
  -moz-transition: opacity .25s ease-in-out!important;
  -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
  opacity:1!important;
}
